@font-face {
    font-family: Pliant;
    src: url("../assets/fonts/Pliant-VariableFont_wdth\,wght.ttf");
}

@font-face {
    font-family: Inter;
    src: url("../assets/fonts/Inter-VariableFont_opsz\,wght.ttf");
}

* {
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Pliant", "Inter", sans-serif;

    background-color: #111827;
}

/*
    Navigation bar box
*/
.navbar {
    display: flex;

    justify-content: space-between;
    align-items: center;

    background-color: #111827;

    padding: 1rem 3rem;
}

/*
    Name in navigation bar
*/
#name {
    color: #F9FAFB;
    font-weight: 600;
}

/*
    Navigation bar menus
    includes about, projects, and contact
*/
#menu-item {
    display: flex;
    gap: 1rem;
}

/*
    Navigation bar menu styling
*/
#menu-item a {
    display: inline-block;

    text-decoration: none;
    color: #F9FAFB;

    padding: 0.75rem 1rem;

    border-radius: 15px;

    transition:
        background-color 0.2s ease,
        transform 0.2s ease;
}

/*
    Navigation bar menu hover property
*/
#menu-item a:hover {
    background-color: #1F2937;

    transform: translateY(-2px);
}

/*
    Introductory about section styling
*/
.about {
    min-height: 85vh;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    color: #F9FAFB;

    padding: 2rem;
}

/*
    Set max width of about content
*/
.about-content {
    max-width: 700px;
}

/*
    location styling
*/
.location {
    color: #9CA3AF;
    margin-bottom: 1rem;

    font-size: 0.95rem;
}

/*
    About section main title styling
*/
#about-title {
    font-size: 3.5rem;
    line-height: 1.1;

    margin-bottom: 1.5rem;
}

/*
    About section text styling
*/
#about-text {
    color: #D1D5DB;

    font-family: "Inter", sans-serif;

    font-size: 1.1rem;
    line-height: 1.8;

    margin-bottom: 2rem;
}

/*
    Contact information styling
*/
.contact-links {
    display: flex;
    justify-content: center;
    gap: 1.5rem;

    margin-bottom: 2rem;
}

.contact-links a {
    text-decoration: none;
    color: #D4933A;

    transition: color 0.2s ease;
}

/*
    Contact hover property
*/
.contact-links a:hover {
    color: #F9FAFB;
}

/*
    About section hero button styling and animation
*/
.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.projects-btn, .resume-btn {
    text-decoration: none;

    padding: 0.9rem 1.4rem;

    border-radius: 12px;

    transition: all 0.2s ease;
}

.projects-btn {
    background-color: #64748B;
    color: #F9FAFB;
}

.projects-btn:hover {
    transform: translateY(-2px);
}

.resume-btn {
    border: 1px solid #374151;
    background-color: #D4933A;
    color: #F9FAFB;
}

.resume-btn:hover {
    background-color: #1F2937;
}

#projects-title{
    color: #F9FAFB;
    text-align: center;
}

.projects-subtitle{
    color: #9CA3AF;

    text-align: center;

    margin-bottom: 2rem;
}

.projects{
    margin: 20px;
}

.project-container{
    min-height: 400px;

    display: grid;

    grid-template-columns:
        repeat(auto-fit, minmax(300px, 1fr));

    gap: 2rem;

    padding: 2rem;

    background-color: #1F2937;

    border-radius: 15px;
}

.project-card{
    width: 320px;

    background-color: #111827;

    border: 1px solid #374151;

    border-radius: 15px;

    padding: 1.5rem;

    text-align: center;
}

.project-card h3{
    color: #F9FAFB;
}

.project-card p{
    color: #D1D5DB;
    line-height: 1.6;
}